*.iso
.vscode/**
system/**
temp/**
iso/**
drivers/**
store/**
!store/empty
config/**
!config/empty
host/FlysoftPE/**
host/plugins/**
host/dist/**
host/node_modules/**
project/FlysoftPE/.vs/**
project/FlysoftPE/Brightness/x64/**
project/FlysoftPE/Cursor/x64/**
project/FlysoftPE/DPIFix/x64/**
project/FlysoftPE/FlysoftPE/x64/**
project/FlysoftPE/Hide/x64/**
project/FlysoftPE/Launcher/x64/**
project/FlysoftPE/Resolution/x64/**
project/FlysoftPE/Version/x64/**
project/FlysoftPE/x64/**
resources/iso/FlysoftPE/host/**