* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: visible;
    user-select: none;
    background-color: #ffffff;
    transition: color 0.5s ease, background-color 0.5s ease;
}

.sidebar {
    width: 90px;
    background-color: #242424;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.sidebar>div {
    margin-top: 20px;
    color: rgb(190, 190, 190);
    font-size: 30px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.1s ease;
}

.sidebar>div:hover {
    background-color: #444444;
    border-radius: 5px;
}

.sidebar_bt {
    position: absolute;
    bottom: 25px;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #ffffff;
        background-color: #2b2b2b;
    }
}